*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container
{
    width: 100%;             
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.container2
{
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #edeef0, #5c3565);
    padding: 10px;
    
}
